:root{
    --Dark-Gray : #1E2328;
    --Dark-Blue : #091428;
    --Gold : #BBB;
    --Blue : #003D56;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Outfit';
}

html{
    background-color: var(--Dark-Gray);

}

.App{
    height: 100vh;
}

.Alert{
    position: fixed;
    top: 5%;
    width: 50%;
    height: 20%;
    color: var(--Gold);
    background-color: var(--Blue);
    border: 2px solid var(--Gold);
}

@media screen and (max-width:850px){
    .App{
        /* background-color: var(--Dark-Gray); */
        height: 180vh;
    }
}

::-webkit-scrollbar{
    background-color: var(--Dark-Gray);
    width: .7em;
    height: .7em;
}
::-webkit-scrollbar-thumb{
    background-color: var(--Gold);
    border: 2px solid var(--Dark-Gray);
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
}

::-webkit-scrollbar-corner{
    background-color: var(--Dark-Gray);
}