.NavBar{
    background-color: var(--Blue);
    position: absolute;
    width: 30%;
    height: 10%;
    top: 2%;
    left: 50%;
    display: flex;
    border-radius: 1.5em;
    border: 2px solid var(--Gold);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

.NavBar-Options{
    background-color: var(--Dark-Blue);
    text-align: center;
    font-family: 'Outfit';
    border: 2px solid var(--Gold);
    margin: auto;
    color: var(--Blue);
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}